@model FrontEnd.API.Models.Propuesta

@{
    ViewData["Title"] = "Eliminar Propuesta";
}

<h1>Eliminación Propuesta</h1>
<hr />


<section class="content">
    <div class="container-index">
        <img src="~/img/Business.jpg" style="opacity: .8; width:100%">
        <div class="container-fluid2">

            <!-- SECTION TITLE  -->
            <div class="card col-md-6">

                <div class="card-body p-0" style="overflow-x:auto;">
                    <br />
                    <table class="table table-striped projects">
                        <tbody>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Titulo)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.Titulo)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Descripcion)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.Descripcion)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Pendiente)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.Pendiente)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.FechaPublicacion)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.FechaPublicacion)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.FechaFinalizacion)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.FechaFinalizacion)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Problema)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.Problema)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.ResultadoEsperado)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.ResultadoEsperado)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Riesgos)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.Riesgos)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Beneficios)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.Beneficios)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Usuario)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.Usuario.Id)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br />
                <div class="form-group">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="PropuestaId" />
                        <input type="submit" value="Eliminar Propuesta" class="btn btn-danger" />
                    </form>
                </div>
            </div>
            <!-- /.card -->
            <div class="form-group">

            </div>
        </div>
        <!-- /.container-fluid -->

    </div>
</section>
<br />
<section class="content">
    <div class="container-fluid">
        <div>
            <a asp-action="Index">Volver a Propuestas</a>
        </div>
    </div>
</section>